<div [appCourseDateHover]="item.date" class="course-list-item items ">
  <div class="first-row">
    <div class="course-item name">
      <div class="course-item col-10 h1">{{item.name | uppercase}}</div>
      <div class="course-item ">
        <img class="starIcon" *ngIf="item.isTopRated" src="../../../../assets/image/star-icon.png" alt="">
      </div>
    </div>
    <div class="first-row-detail">
      <div class="course-item col-2">
        <img class="icon timeIcon" src="../../../../assets/image/clock-icon.png" alt="">
        {{item.length | sortByDuration}}
      </div>
      <div class="course-item col-2">
        <img class="icon calendarIcon" src="../../../../assets/image/calendar-icon.png" alt="">
        {{item.date | date: 'd MMM. yyyy'}}
      </div>
    </div>
  </div>
  <div class="details">
    <div class="description">{{item.description}}</div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn edit" (click)="editRequest(item.id)">
        <img class="icon editIcon" src="../../../../assets/image/edit-icon.png" alt="editIcon">
        <p class="text editIcon">Edit</p>
      </button>
      <button type="button" class="btn delete" (click)="deleteRequest(item)">
        <img class="icon deleteIcon" src="../../../../assets/image/trash-icon.png" alt="deleteIcon">
        <p class="text deleteIcon">Delete</p>
      </button>
    </div>
  </div>
</div>
