<div class="course-list-item items">
  <div class="first-row">
    <div class="course-item col-10 h1">{{item.title}}</div>
    <div class="first-row-detail">
      <div class="course-item col-2">1 h {{item.duration % 60}} min</div>
      <div class="course-item col-2">{{item.creationDate}}</div>
    </div>
  </div>
  <div class="details">
    <div class="description">{{item.description}}</div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn">Edit</button>
      <button type="button" class="btn">Delete</button>
    </div>
  </div>
</div>
