<div class="main">
  <app-breadcrumbs [title]="pageTitle"></app-breadcrumbs>
  <app-search-control #searchField (searchItem)="search($event)"></app-search-control>
  <app-add-course></app-add-course>

  <div class="emptyCourse" *ngIf="!courseItems else someData">
    <p>NO DATA, FELL FREE TO ADD NEW COURSE</p>
  </div>

  <ng-template #someData>
    <app-course-list-item
      *ngFor="let item of (courseItems | filterBy : searchField.searchInput) | orderBy"
      [item]="item"
      (deleteItem)="OnClickRemovePopup(item)">
    </app-course-list-item>
  </ng-template>
  <app-load-more
    *ngIf="courseItems?.length > 0 "
    (loadMore)="handleClickMore($event)"
  ></app-load-more>

  <app-popup *ngIf="deletePopup"
    (closePopup)="cancelPopup($event)"
    (submitDelete)="removeItem($event)"
    [itemTitle]="currentItem.title"
  ></app-popup>
</div>
