<div class="alert popup">
  <div class="alert alert-box">
    <div class="alert top">
      <div class="alert title">Delete course?</div>
      <button class="alert button-close">
        <img src="../../../../assets/image/close.png" alt="closeIcon">
      </button>
    </div>
    <div class="alert middle">
      <p>Are you sure you want to delete</p>
      <p>Video Course ?</p>
    </div>
    <div class="alert bottom">
      <button class="alert button-cancel">Cancel</button>
      <button class="alert button-submit">Yes, delete</button>
    </div>
  </div>
</div>
