<div class="main">
  <div class="loginBox">
    <div class="mainTitle">
      <div class="title">Login</div>
      <div class="notification" *ngIf="loginFailed">Wrong e-mail or password</div>
    </div>
    <div class="login email">
      <div class="titre">
        <p>Email:</p>
        <p class="required">*required</p>
      </div>
      <input class="loginInput" type="text" value="{{email}}" placeholder="Enter e-mail">
    </div>
    <div class="login password">
      <div class="titre">
        <p>Password:</p>
        <p class="required">*required</p>
      </div>
      <input class="loginInput" type="password" value={{password}} placeholder="Enter password">
    </div>
    <div class="submit">
      <button class="forgetPassword">Forget password?</button>
      <div class="btn-group">
        <button class="btn button-login grey" *ngIf="loginFailed" disabled="disabled">Login</button>
        <button class="btn button-login" *ngIf="!loginFailed">Login</button>
      </div>
    </div>
  </div>
</div>
