.addCourse {
  display: flex;
  justify-content: flex-end;
}

button {
  border: none;
  border-radius: 3px;
  background: #009ECC;
  color: #FFFFFF;
  letter-spacing: -0.1px;
  font-size: 14px;
  height: 36px;
  width: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
}
