.searchInput {
  color: #ACAFBF;
}

input {
  width: 240px;
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #CED0DB;
  border-radius: 3px;
}

button {
  margin-left: 15px;
  width: 73px;
  height: 36px;
  border: none;
  border-radius: 3px;
  background-color: #67a300;
  color: #FFFFFF;
}
